@import 'partials/vars';
@import 'partials/base';
@import 'partials/cursor';
@import 'partials/cargaheader';
@import 'partials/home';
@import 'partials/footer';
@import 'partials/proyectos';
@import 'partials/sobremi';
@import 'partials/contacto';
@import 'partials/proyectopeque';
html{
    @media (max-width: 480px) {
        padding-left: 0%;;
        margin-left: 0;
     }
}
a {
    text-decoration: none !important;
}

body.con-scroll {
    overflow-y: auto;
    overflow-x: hidden; 
}

body{
    background-color: $fondo;
}