@import 'partials/vars';
@import 'partials/base';
@import 'partials/cursor';
@import 'partials/cargaheader';
@import 'partials/home';
@import 'partials/footer';
@import 'partials/proyectos';
@import 'partials/sobremi';
@import 'partials/contacto';
@import 'partials/proyectopeque';

a {
    text-decoration: none !important;
}

body.con-scroll {
    overflow-y: auto;
    overflow-x: hidden; 
}

*, *::before, *::after { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input, button, textarea, select { 
    font-family: inherit;
}

body{
    background-color: $fondo;
}