
.pantalla-carga-inicio{
    background-color: $fondo;
}
header{
    display: flex;
    position: fixed;
    justify-content: left;
    margin-left: 4rem;
    gap: 1rem;
    align-items: center;
    margin-top: 2.25rem;
    background-color: transparent;

    .logo {
        position: relative;
        z-index: 9999;
        width: 5%;
        background-color: transparent;
    }
    
    #logo-animado path {
        fill: $acento; 

        &:hover{
            fill: $negro;
        }
        
    }

    ul{
        display: flex;
        justify-content: space-between;
        gap: 4.5rem;

               li {
    text-transform: uppercase; 
    list-style: none;
    .p-regular-rosa {
        text-decoration: none;
        color: $acento;
        font-weight: 600;
        display: inline-block; 
        transition: color 0.3s ease, transform 0.3s ease; 

        &:hover {
            color: $negro;
            transform: scale(1.2);
        }
        }
    .p-regular {
        text-decoration: none;
        color: $negro;
        font-weight: 600;
        display: inline-block; 
        transition: color 0.3s ease, transform 0.3s ease; 

        &:hover {
            color: $acento;
            transform: scale(1.2);
        }
    }
}
    }
}