.pantalla-carga-inicio {
    background-color: $fondo;
}

header {
    display: flex;
    position: fixed;
    justify-content: left;
    margin-left: 4rem;
    gap: 1rem;
    align-items: center;
    margin-top: 2.25rem;
    background-color: transparent;
    width: 100%;
    z-index: 9999; 

    @media (max-width: 768px) {
        margin-left: 5%;
        margin-top: 1.5rem;
        justify-content: space-between;
        padding-right: 10%;
    }

    .logo {
        position: relative;
        z-index: 9999;
        width: 4%;
        background-color: transparent;

        @media (max-width: 768px) {
            width: 60px;
        }

        @media (max-width: 480px) {
            margin-top: 0;
            width: 60px;
        }
    }
    
    #logo-animado path {
        fill: $acento; 

        &:hover {
            fill: $negro;
        }
    }

    ul {
        display: flex;
        justify-content: space-between;
        gap: 4.5rem;
        margin-left: 3rem;

        @media (max-width: 768px) {
            gap: 2rem;
        }

        @media (max-width: 390px) {
            gap: 0.8rem;
        }

        li {
            text-transform: uppercase; 
            list-style: none;

           

            .p-regular-rosa {
                text-decoration: none;
                color: $acento;
                font-weight: 600;
                font-size: 0.8rem;
                display: inline-block; 
                transition: color 0.3s ease, transform 0.3s ease; 
               
                @media (max-width: 390px) {
                font-size: 0.7rem;
            }

                &:hover {
                    color: $negro;
                    transform: scale(1.2);
                }
            }

            .p-regular {
                text-decoration: none;
                color: $negro;
                font-size: 0.8rem;
                font-weight: 600;
                display: inline-block; 
                transition: color 0.3s ease, transform 0.3s ease; 

                @media (max-width: 390px) {
                font-size: 0.7rem;
            }
                &:hover {
                    color: $acento;
                    transform: scale(1.2);
                }
            }
        }
    }
}