//Para el responsive aquí he metido de -900 tmb porque quedaba raro el cambio
.proyecto-container {
    margin-top: 24.12px;
    display: grid;
    grid-template-columns: 1.2fr 0.8fr; 
    gap: 33.5px;
    align-items: start;

    @media (max-width: 900px) {
        grid-template-columns: 1fr; 
        margin-top: 80.4px; 
        padding: 0 5%;
        gap: 20.1px;
    }

    @media (max-width: 390px) {
        margin-top: 0.67rem;
    }
}

#proyecto-imagenes {
    display: flex;
    flex-direction: column;
    gap: 0px; 

    @media (max-width: 900px) {
        order: 2; 
    }

    img {
        width: 100%;
        height: auto;
    }
}

.info-col {
    position: fixed; 
    top: 80.4px;
    margin-left: 60%;
    
    @media (max-width: 900px) {
        position: relative; 
        top: 0;
        margin-left: 0;
        order: 1; 
    }

    #proyecto-etiquetas {
        display: flex;
        flex-direction: column;
        gap: 1.34px;
        margin-bottom: 2.01rem;
        margin-top: 0px;
        font-weight: 500;
        color: $negro;

        @media (max-width: 390px) {
            margin-bottom: 1.005rem;
            flex-direction: row; 
            flex-wrap: wrap;
            gap: 10.05px;
        }

        span {
            font-family: $body;
            font-size: 0.67rem;
            padding: 3.35px 8.04px;
            border-radius: 20.1px;
            text-transform: uppercase;
            color: $negro;

            @media (max-width: 390px) {
                font-size: 0.7rem;
                padding: 0; 
                margin-bottom: 2rem;
            }
        }
    }

    .header-proyecto {
        margin-bottom: 20.1px;

        @media (max-width: 390px) {
            margin-bottom: 1rem;
        }

        #proyecto-año {
            font-family: $body;
            font-size: 1rem;
            font-weight: 500;
            color: $acento;
            margin-bottom: 1.34rem;

            @media (max-width: 390px) {
                font-size: 1rem;
                margin-bottom: 1rem;
            }
        }

        #proyecto-titulo {
            font-family:$tittle;
            font-size: 3.35rem;
            line-height: 100%;
            margin-top: 0.67rem;
            color: $negro;
            width: 70%;

            @media (max-width: 900px) {
                width: 100%;
            }

            @media (max-width: 390px) {
                font-size: 3rem;
            }
        }
    }

    #proyecto-descripcion {
        font-family: $body;
        line-height: 150%;
        font-size: 0.8rem;
        max-width: 450px;
        color: $negro;

        @media (max-width: 900px) {
            max-width: 100%;
        }

        @media (max-width: 390px) {
            font-size: 0.8rem;
            margin-top: 2rem;
            margin-bottom: 3rem;
        }
    }
}

.back-btn {
    display: inline-block;
    margin-bottom: 26.8px;
    font-size: 1.34rem;
    text-decoration: none;
    color: $negro;
    transition: transform 0.3s ease;

    @media (max-width: 390px) {
        margin-bottom: 13.4px;
        font-size: 1rem;
    }

    &:hover {
        transform: translateX(-6.7px);
        color: $acento;
    }
}